<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208537041741-7pgb61r0ubvrvgl75ueej8ap38tfo3va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208537041741-7pgb61r0ubvrvgl75ueej8ap38tfo3va</string>
	<key>API_KEY</key>
	<string>AIzaSyAVvCpuAsn9HRbsntGZ0ByzoJC60MJJVGM</string>
	<key>GCM_SENDER_ID</key>
	<string>208537041741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.logisticaCastroFallas2</string>
	<key>PROJECT_ID</key>
	<string>logistica-castro-fallas-584e2</string>
	<key>STORAGE_BUCKET</key>
	<string>logistica-castro-fallas-584e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208537041741:ios:082147da5842c836f45504</string>
</dict>
</plist>